.footer {
    background: #050505;
    color: white;
    font-size: 15px;
    padding: 20px 0;
    text-align: center;
    padding-bottom: 5px;
    clear: both;
}

.github {
    color: #fff;
    transition: ease-in-out .2s;
}

.github:hover {
    scale: 1.08;
}

.footer p {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}